doctype html
html(lang="ru")
   head

      include ../modules/head

   body

      block content

      script(src="js/jquery.min.js")
      script(src="js/jquery.mousewheel.min.js")
      script(src="js/jquery.touchSwipe.min.js")
      script(src="js/slick.min.js")
      script(src="js/test.js")


