.page-slide.d-flex.align-items-center
   .container-fluid
      .row
         .col-md-9.offset-md-2
            .page-slide-1-top
               h1.text-title-lg Your next enteractive experience
               a(href="#!").btn-main
                  span Hire us
                  img(src="img/arrow-1.svg" alt="" width="18" heigth="22")

            .page-slide-1-bottom
               .row
                  .col-md-4
                     .text-widget.is-dimmed
                        h3.text-title-sm Lorem ipsum dolor
                        p.text-p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique perferendis error iste!
                  .col-md-4
                     .text-widget.is-dimmed
                        h3.text-title-sm Lorem ipsum dolor
                        p.text-p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique perferendis error iste!
                  .col-md-4
                     .text-widget.is-dimmed
                        h3.text-title-sm Lorem ipsum dolor
                        p.text-p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique perferendis error iste!